

*, *::before *::after{
    margin: 0; padding: 0; box-sizing: border-box;
}
html{
    position: relative;
}
body{
    font-family: Arial, Helvetica, sans-serif; font-size: 22px ; align-content: normal;
}
.over{
    position: absolute; top: 0; left: 0; bottom: 0; width: 100%; height:120vh;
    background:url('po.jpg') center center no-repeat; background-size: cover; 
    z-index: -50;
}
header{
    max-width: 80%; margin-left: auto; margin-right: auto;
}
@font-face {
    font-family: myFont; src:url('css/fonts/canterbury.ttf');
}
h1.red{
    text-align: center; color: red; text-decoration:overline; text-transform:uppercase; 
    font-size: 20px; font-family: myFont;
}
@keyframes monanim{
    from{
        color: blue; font-size: 15px;
    }
    to{
        font-size: 40px; color:chartreuse
    }
}
h5{
    animation-name: monanim; 
    animation-duration: 10s;
    animation-fill-mode: forwards; text-decoration: dotted;
}
h2{
    text-align: left; font-family: 'Times New Roman', Times, serif; font-size: 14px;
     font-style:italic ; color: aliceblue; border-style: dotted red;
    text-shadow: blanchedalmond 10px 10px;
    }
nav{
    display: flex; flex-wrap: wrap; align-items: center;
    width: 100%; padding: 30px 0px 10px; }
    nav .logo{
        width:170px;
    }
    nav .menu-icon{
        width: 60px; cursor: pointer;
    }
    nav ul{
        flex: 1; display: flex; justify-content:flex-end; padding-right: 40px;
    }
    nav .ok{
        justify-content: center;
    }
    nav ul li{
        list-style: none; margin-left: 20px;
    }
    nav ul li a{
        text-decoration: none; color: blue; font-size: 2rem; transition: .3s;
        width: 60px;
    }
    nav ul li a:hover{
        color:red;
    }
    .marco{
        color: white;
    }
    .marco h3 h5{
        font-size: 75px; margin-bottom: 1rem; line-height:2; 
    }
    .marco{
        font-size: 1.2rem; line-height: 1.5; letter-spacing: 1px; margin-bottom: 2rem;
    }
    .marco a{
        display: inline-block; text-decoration: none; font-size: 1.25rem; border:1px solid black;
        color: rgb(58, 123, 184); padding: 30px 40px; margin-right: 30px;
    }
    .marco a.livre {
        color: #121212; background-color: rgb(58, 123, 184); font-weight: 600;
    }
    .marco a.me {
        color: #121212; background-color: rgb(58, 123, 184); font-weight: 600;
    }
    .marco p{ text-align: justify; text-indent: 2;}
    .lolo{ background-image: linear-gradient(blue,red) ;
        margin-top: 15%; 
        border-bottom:#121212 dotted;
        border-left:yellowgreen dotted;
        border-right: dotted blueviolet ;
        border-top: dotted blue   ; 
        background-size: auto;
    }
    .lolo  h4{
        text-align: center; margin-top: 5%; 
        }
        div .autr{
            margin-top: -3%; margin-left:9%; 
        }
div .autr ul {
    flex: 1; display: flex; justify-content:center; padding-right: 40px; padding: 70px 30px;
}
div .autr ul li {
    list-style:none; margin-left: 50px; margin-right: 10px;
        text-decoration: none; color:white; font-size: 2rem; 
        }
.h7{
    font-variant: small-caps;
}
.ld{
    color:teal; text-transform: uppercase;
    font-size: 18px;
}
dl{
    margin-left: 1%;
}
table td {
    border: 2px solid black; 
}
thead{
    background-color: aqua; color:black;
}
dt{
    text-decoration: underline; text-transform: uppercase;
}
section p:hover{
     color: teal; font-size: large;
}
.tra{
    background-image: linear-gradient(white, blue); display: flex; flex-wrap: wrap; align-items:normal;
    width: 100%; padding: 30px 0px 10px; white-space: normal; margin-top: 10%; 
}
.tra h1{
    text-align:  center;
}
 .tra img{
    height: 400px ; width: 300px; 
}
.tra button {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; border: none;
     padding: 20px 30px; font-size: 20px; line-height: 1.5;margin-bottom: 10rem; 
     border-bottom:#121212 dotted;
     border-left:yellowgreen dotted;
     border-right: dotted blueviolet ;
     border-top: dotted blue   ; 
     background-size: auto;  margin-left: 20px;
     flex: 1; display: flex; justify-content:flex-end; padding-right: 40px;   
 }
 #bu1:active{
    background-color: teal; color:#f8f9f9;
 }
 #bu2{
    background-color: red; color: #f8f9f9;
 }
 #bu3{
    background-color: blue;color: #f8f9f9;
 }
 #bu4{
    background-color: black; color: #f8f9f9;
 }
.log h1{
text-align: right; text-shadow:unset #121212 ; text-transform: uppercase;
}
section p{
    transition-duration: 2s;
}
 p#df:target{
    background:red; padding: 10px; transition-duration: 10s; color:whitesmoke;
}
p#df::first-letter{text-decoration: overline; font-size: 500%; color:blue;  
}
@keyframes monani{
    0%{ border: #121212 solid 5px;
        top:0px;
        left:0px;
    }
    25%{
        border: red solid 5px;
        top:200px;
        left:200px;
    }
    50%{border: green solid 5px;
top:0px;
left:200px;
    }
    75%{ border: yellow solid 5px;
        top:200px;
        left:0px;
    }
    100%{
        border:magenta 5px;
        top:0px;
        left:0px;
    }
}
img#ad{
    animation-name: monani;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    position: relative;
    width: 100px; height: 100px; 
}
